<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Blog App <small>Detail post</small></h1>
<a th:href="@{/post}">Back to Listing</a>
<table class="table table-hover">
    <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Content</th>
    <th colspan="2">Functions</th>
    </thead>
    <tbody>
    <tr>
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.description}"></td>
        <td th:text="${post.content}"></td>
        <td><a th:href="@{/post/delete/{id}(id = ${post.getId()})}">Delete</a></td>
        <td><a th:href="@{/post/update/{id}(id = ${post.getId()})}">Update</a></td>
    </tr>
    </tbody>
</table>
<div th:replace="footer.html::footer"></div>
</body>
</html>