<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Blog App <small>Update post</small></h1>
<a th:href="@{/post}">Back to Listing</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form action="#" th:action="@{/post/update}" th:object="${current_post}" method="post">
    <table class="table table-hover">
        <thead>
        <th>Title</th>
        <th>Cattegory</th>
        <th>Description</th>
        <th>Content</th>
        </thead>
        <tbody>
        <tr>
            <input type="hidden" th:field="*{id}">
            <td><input type="text" th:field="*{title}"></td>
            <td>
                <select th:field="*{category}">
                    <option th:each="categorie:${categories}" th:value="${categorie.id}" th:text="${categorie.name}"></option>
                </select>
            </td>
            <td><input type="text" th:field="*{description}"></td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td colspan="4"><input type="submit" value="Update"></td>
        </tr>
        </tbody>
    </table>
</form>
<div th:replace="footer.html::footer"></div>
</body>
</html>